.root {
  flex-grow: 1;
}
.menuButton {
  margin-right: spacing(2);
}
.title {
  flex-grow: 1;
  color: gray;
  font-size: 50px !important;
  font-weight: 500;
  line-height: 3.2;
}
.link {
  color: gray;
}
.Tbar {
  background-color: rgb(200, 233, 233);
}
